@tailwind base;
@tailwind components;
@tailwind utilities;

.indicator {
    height: 1.4rem;
    width: 0.25rem;

    border-radius: 20px;
}

.side-bar-bg {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,250,255,1) 36%);

}